
/*
*COLOUR
light-orange: #ff8811
bright-orange: #ffcc88
grey: #eeeedd
dark-orange: #cc5500
*BLACK: #000000
*WHITE #ffffff
*/

html {
	font-family: sans-serif;
	font-weight: 100;
	background-color: #FFF;
}

/*reset body css*/
body {
	margin: 0;
	padding: 0;
}

/*let our images take up their divs*/
img {
	width: 90%;
}

.person {
	border-radius: 50%;
}

/*grid*/
.grid-container {
	width: 960px;
	margin: auto;
}

.grid-fluid {
	width: 100%;
	overflow: auto;
}

/*rows go in grids*/
.row {
	clear: both;
	overflow: auto;
	padding: 1em 0;
}

.hero-row {
	padding: 9em 0;
	background-color: #FFF;
	background: rgb(240,240,240) url(../images/front-bg.jpg) no-repeat;
	background-size: cover;
	font-family: sans-serif,Arial,Helvetica Neue,Helvetica; 
}

/*columns go in rows*/
.col-11 {
	width: 91.66663%;
	float: left;
}

.offset-11 {
	margin-left: 91.66663%;
}

.col-10 {
	width: 83.33333%;
	float: left;
}

.offset-10 {
	margin-left: 83.33333%;
}

.col-9 {
	width: 75%;
	float: left;
}

.offset-9{
	margin-left: 75%;
}

.col-8 {
	width: 66.66664%;
	float: left;
}

.offset-8 {
	margin-left: 66.66664%;
}

.col-7 {
	width: 58.33333%;
	float: left;
}

.offset-7 {
	margin-left: 58.33333%;
}

.col-6 {
	width: 50%;
	float: left;
}

.offset-6 {
	margin-left: 50%;
}

.col-5 {
	width: 41.666665%;
	float: left;
}

.offset-5 {
	margin-left: 41.666665%;
}

.col-4 {
	width: 33.333333%;
	float: left;
}

.offset-4 {
	margin-left: 33.333333%;
}

.col-3 {
	width: 25%;
	float: left;
}

.offset-3 {
	margin-left: 25%;
}

.col-2 {
	width: 16.666666%;
	float: left;
}

.offset-2 {
	margin-left: 16.666666%;
}

.col-1 {
	width: 8.333333%;
	float: left;
}

.offset-1 {
	margin-left: 8.333333%;
}
/*end grid*/

/*general card for holding info*/
.card {
	margin: 0 10px;
}

/*pushes our cards apart*/
.card-in {
	margin: 15px 0 15px 0;
}

h1 {
	font-size: 1.8em;
	margin: 10px 0;
	color: #cc5500;
}

h2 {
	font-size: 2em;
	color: #936A3A;
	margin: 5px 0;
}

h3 {
	font-size: 4em;
	text-align: center;
	margin: 5px 0;
	color: #e74c3c;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 5px #333;
}

h4 {
	font-size: 1.5em;
	text-align: center;
	margin: 5px 0;
	color: #e74c3c;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 5px #333;
}

h5 {
	font-size: 1.5em;
	margin: 10px 0;
	color: #ff8811;
}

h6 {
	width: 100%;
	padding: 1em 0;
	color: #FFF;
	font-size: 3em;
	margin: 10px 0;
}

/*Used to style the contact page text below map*/
section {
	float: right;
	width: 400px;
}

/*Following #navigation styles set the navigation bar up*/
nav {
	text-align: center;
	padding: 10px 0;
}

nav ol {
	list-style: none;
	margin: 0;
	padding: 25px 0 0 0;
}

nav ol li{
	padding: 0.25em;
	text-align: center;
	display: inline;
	
}

nav ol li a {
	font-size: 1em;
	text-decoration: none;
}

nav ol li a:hover {
	text-decoration: underline;
	color: #e67e22;
}

aside {
	position: fixed;
}

aside ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside ol li {
	margin: 10px 0;
	padding: 0;
}

aside ol li a {

}

/*Styles the footer at the bottom of each page*/
footer {
	width: 100%;
	font-size: 10px;
	padding-top: 1em;
	text-align: left;
}

footer ul {
    padding: 10px;
    display: inline-block;
    list-style: none;
    width: 200px;
    margin: 0;
}

footer ul li {
	padding: 0.5em;
	text-align: left;
	display: block;
	font-size: 3ex;
}

p.footer-heading {
	font-size: 2em;
	font-weight: 400;
}
p.footer-about {
	font-size: 1.5em;
}

/*Causes the first element in the list to have a bottom border*/
.firstlist {
	font-size: 2em;
	font-weight: 400;
}

.brown-bg {
	background-color: #cc5500;
}

.red-bg {
	background-color: #cc5500;
}

.li-orange {
	background-color: #ff8811;
}

.bri-orange {
	background-color: #ffcc88;
}

.grey-bg {
	background-color: #eeeedd;
}

.dark-orange {
	background-color: #cc5500;
}

#sitemap {
	font-size: 1.9em;
	font-weight: 400;
}

/*Style for links on the page
*Clicking links makes the go white while pressed.
*Hovering causes links to become italics
*Links are black
*/
a:link{
	color: #000000;

}

a:visited{	
	color: #000000;
}

a:hover{
	text-decoration: underline;
	color: #e67e22;
}

a:active{
	color: #BDB8B0;
	
}
