
/*
*COLOUR
light-orange: #ff8811
bright-orange: #ffcc88
grey: #eeeedd
dark-orange: #cc5500
*BLACK: #000000
*WHITE #ffffff
*/

html {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #FFF;
}

/*reset body css*/
body {
	margin: 0;
	padding: 0;
}

main {
	display: block;
}

/*let our images take up their divs*/
img {
	width: 90%;
	border-radius: 5px;
}

.person {
	border-radius: 50%;
}

/*grid*/
.grid-container {
	width: 960px;
	margin: auto;
}

.grid-fluid {
	width: 100%;
	overflow: auto;
}

/*rows go in grids*/
.row {
	clear: both;
	overflow: auto;
	padding: 1em 0;
}

.nav-row {
	padding: 1em 0;
}

.hero-row {
	padding: 9em 0;
	background-color: #FFF;
	background: rgb(240,240,240) url(../images/front-bg.jpg) no-repeat;
	background-size: cover;
	font-family: sans-serif,Arial,Helvetica Neue,Helvetica; 
}
.head-row {
	width: 100%;
}

.head-row::after {
	display: block;
	height: 5px;
	background-color: #ffcc88;
	content: '';
}

.foot-row::before {
	display: block;
	height: 5px;
	background-color: #ecf0f1;
	content: '';
}

/*columns go in rows*/
.col-11 {
	width: 91.66663%;
	float: left;
}

.offset-11 {
	margin-left: 91.66663%;
}

.col-10 {
	width: 83.33333%;
	float: left;
}

.offset-10 {
	margin-left: 83.33333%;
}

.col-9 {
	width: 75%;
	float: left;
}

.offset-9{
	margin-left: 75%;
}

.col-8 {
	width: 66.66664%;
	float: left;
}

.offset-8 {
	margin-left: 66.66664%;
}

.col-7 {
	width: 58.33333%;
	float: left;
}

.offset-7 {
	margin-left: 58.33333%;
}

.col-6 {
	width: 50%;
	float: left;
}

.offset-6 {
	margin-left: 50%;
}

.col-5 {
	width: 41.666665%;
	float: left;
}

.offset-5 {
	margin-left: 41.666665%;
}

.col-4 {
	width: 33.333333%;
	float: left;
}

.offset-4 {
	margin-left: 33.333333%;
}

.col-3 {
	width: 25%;
	float: left;
}

.offset-3 {
	margin-left: 25%;
}

.col-2 {
	width: 16.666666%;
	float: left;
}

.offset-2 {
	margin-left: 16.666666%;
}

.col-1 {
	width: 8.333333%;
	float: left;
}

.offset-1 {
	margin-left: 8.333333%;
}
/*end grid*/

/*general card for holding info*/
.card {
	margin: 15px 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	font-size: 1.8em;
	margin: 10px 0;
	color: #cc5500;
}

h1 a,
h1 a:visited {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 2em;
	color: #936A3A;
	margin: 5px 0;
}

h3 {
	font-size: 4em;
	text-align: center;
	margin: 5px 0;
	color: #F2784B;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 5px #333;
}

h4 {
	font-size: 1.5em;
	text-align: center;
	margin: 5px 0;
	color: #F2784B;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 5px #333;
}

h5 {
	font-size: 2.3em;
	margin: 10px 0;
	color: #ff8811;
}

h6 {
	width: 100%;
	padding: 0.2em 0;
	color: #FFF;
	font-size: 3em;
	margin: 10px 0;
}

/*Used to style the contact page text below map*/
section {
	float: right;
	width: 400px;
}


/*Style for links on the page
*Clicking links makes the go white while pressed.
*Hovering causes links to become italics
*Links are black
*/
a:link{
	color: #ff8811;

}

a:visited{	
	color: #000000;
}

a:hover{
	text-decoration: underline;
	color: #e67e22;
}

a:active{
	color: #BDB8B0;
}

/*Following #navigation styles set the navigation bar up*/
nav {
	text-align: center;
	padding: 10px 0;
}

nav ol {
	list-style: none;
	margin: 0;
	padding: 25px 0 0 0;
}

nav ol li{
	padding: 0.25em;
	text-align: center;
	display: inline-block;
	
}

nav ol li a {
	font-size: 1em;
	color: #000;
	text-decoration: none;
}

nav ol li a:visited {
	color: #ff8811;
}

nav ol li a:hover {
	text-decoration: underline;
	color: #e67e22;
}

aside {
	position: absolute;
}

aside ol {
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
}

aside ol li {
	margin: 10px 0;
	padding: 0;
}

aside ol li a {
	text-decoration: none;
}

aside ol li a:hover {
	text-decoration: underline;
	color: #ff8811;
}

label {
	display: block;
}

label:last-child {
	margin-bottom: 8px;
}

/*forms*/
input[type='text'] {
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	font-size: 1em;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	font-size: 1em;
	border: 1px solid #ccc;
	font-family: inherit;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	box-sizing: border-box;
}

input[type='submit'] {
	background-color: #ff8811;
	color: white;
	padding: 10px 24px;
	font-size: 1.5em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 16px 0;
	-webkit-appearance: none;
    -webkit-border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

input[type='submit']:hover {
	background-color: #ffcc88;
}

label {
	font-size: 1.2em;
}

button {
	width: 100%;
	background-color: #3498db;
	color: #FFF;
	padding: 14px 20px;
	font-size: 1.3em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background-color: rgb(22,188,156);
	color: #FFF;
}	

/*Styles the footer at the bottom of each page*/
footer {
	width: 100%;
	font-size: 10px;
	text-align: left;
}

footer ul {
	padding: 16px 0 0 0;
	display: inline-block;
	list-style: none;
	margin: 0;
}

footer ul li {
	padding: 0.5em 0;
	text-align: left;
	display: block;
	font-size: 1.5em;
}

footer ul li:first-child {
	font-weight: 700;
	font-size: 1.9em;
}

footer ul li a,
footer ul li a:link,
footer ul li a:visited,
footer ul li {
	text-decoration: none;
	color: #d6d6d6;
}

footer ul li a:hover {
	text-decoration: underline;
}

p {
	color: #676767;
	line-height: 1.4;
}

.footer-heading {
	font-size: 3em;
	font-weight: 400;
	color: #d6d6d6;
}

.footer-about {
	font-size: 1.5em;
	line-height: 150%;
	color: #d6d6d6;
}

.copyright {
	font-size: 1.5em;
	color: #ecf0f1;
	margin: 5px 0;
}

.copyright a {
	text-decoration: none;
	color: #ecf0f1;
}
.copyright a:hover {
	text-decoration: underline;
	color: #ecf0f1;
}

.row-copy {
	padding: 0.2em 0;
}

.gallery-head {
	color: #ff8811;
}

/*Causes the first element in the list to have a bottom border*/
.firstlist {
	font-size: 2em;
	font-weight: 400;
}

/*
* Background Colours
*/
.brown-bg {background-color: #cc5500;}
.red-bg {background-color: #cc5500;}
.li-orange {background-color: #ff8811;}
.bri-orange {background-color: #2c3e50;}
.grey-bg {background-color: #6C7A89;}
.dark-orange {background-color: #cc5500;}


/*Smaller desktops */
@media screen and (max-width: 960px) {
	.grid-container {width: 90%;margin:auto;}
}

@media screen and (max-width: 786px) {
	.col-4 {
		width: 50%;
	}
	.col-8 {
		width: 50%;
	}
	.col-6 {
		width: 100%;
	}
}

/* Tablets and phones */
@media screen and (max-width: 600px) {
	.grid-container {width: 97%;margin:auto;}
	.row {padding: 1em 0 0.5em 0;}
	.offset-1 {margin-left: 0;}
	.offset-2 {margin-left: 0;}
	.col-10 {width: 100%;}
	.col-9 {width: 100%;}
	.col-8 {width: 100%;}
	.col-5 {width: 100%;}
	.col-4 {width: 100%;}
	.col-3 {width: 50%;}
	.col-2 {width: 0%;}

	nav ol {
		padding: 0;
	}

	.hero-row {
		padding: 3em 0;
	}
	aside {
		display: none;
	}
}