<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>
<body>
	<div class="grid-fluid">
		{% include 'header.html' %}
		<div class="row brown-bg">
			<div class="grid-container">
				<h6>GALLERY</h6>
			</div>
		</div>
		<div class="grid-container">
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/luna_2.jpg') }}" alt="White Cat Sleeping"/>
							<p><span class="gallery-head">Cat: </span>Luna</p>
							<p><span class="gallery-head">Crime: </span>Sleeping</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/luna_3.jpg') }}" alt="White Cat in box"/>
							<p><span class="gallery-head">Cat: </span>Luna</p>
							<p><span class="gallery-head">Crime: </span>Box thief</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/luna_4.jpg') }}" alt="White Cat Yawning"/>
							<p><span class="gallery-head">Cat: </span>Luna</p>
							<p><span class="gallery-head">Crime: </span>Yawning</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/luna_5.jpg') }}" alt="White Cat leaning backwards on its butt"/>
							<p><span class="gallery-head">Cat: </span>Luna</p>
							<p><span class="gallery-head">Crime: </span>Unsafe leaning</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/miumiu_1.jpg') }}" alt="Orange cat laying on side"/>
							<p><span class="gallery-head">Cat: </span>Miu Miu</p>
							<p><span class="gallery-head">Crime: </span>Sleeping</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/miumiu_2.jpg') }}" alt="Orange cat sitting in lap"/>
							<p><span class="gallery-head">Cat: </span>Miu Miu</p>
							<p><span class="gallery-head">Crime: </span>Lap thief</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/miumiu_3.jpg') }}" alt="Orange cat looking up"/>
							<p><span class="gallery-head">Cat: </span>Miu Miu</p>
							<p><span class="gallery-head">Crime: </span>Looking</p>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-in">
							<img src="{{ url_for('static', filename='images/gallery/miumiu_4.jpg') }}" alt="Orange cat sitting"/>
							<p><span class="gallery-head">Cat: </span>Miu Miu</p>
							<p><span class="gallery-head">Crime: </span>Sitting</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
	</div>
</body>
</html>