<!--Looking at the source code I see, thanks for being so interested!-->
<meta charset="utf-8"> 
<meta name="description" content="Cattitude Cat Psychologist Clinic">
<meta name="keywords" content="cat, psychologist, cattitude">
<meta name="robots" content="index,follow">
<meta content = "Cattitude is a cat psychology clinic" name="Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Catitude Cat Psychologist</title>
<link rel="stylesheet" type="text/css" href="{{ style }}" />