<div class="head-row">
	<div class="grid-container">
		<div class="row nav-row">
			<div class="col-4">
				<h1>Catitude</h1>
				<h2>Cat Psychologist</h2>
			</div>
			<div class="col-8">
				<nav>
					<ol>
						<li><a href="./">Home</a></li>
						<li><a href="./about">About Us</a></li>
						<li><a href="./testimonials">Testimonials</a></li>
						<li><a href="./gallery">Gallery</a></li>
						<li><a href="./symptoms">Cat Symptoms</a></li>
						<li><a href="./booking">Book Now</a></li>
						<li><a href="./contact">Contact Us</a></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>