<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>
<body>
	<div class="grid-fluid">
		{% include 'header.html' %}
		<div class="row hero-row">
			<h3>Welcome to Catitude</h3>
			<h4>Where we help you with your catty problems.</h4>
		</div>
		<div class="grid-container">
			<div class="row">
				<div class="col-4">
					<img class="person" src="{{ url_for('static', filename='images/flickr_Mikael.jpg') }}" alt="Cat licking cat" />
				</div>
				<div class="col-8">
					<div class="card">
						<div class="card-in">
							<h5>
								FIRST STEPS TO FELINE HEALTH
							</h5>
							<p>
								We're glad you took the time to visit our brand new website.  Catitude is the clinic for all of your catty problems and specialises in human to feline interaction.
							</p>
							<p>
								Walk on car leaving trail of paw prints on hood and windshield chase red laser dot claws in your leg spread kitty litter all over house. Slap owner's face at 5am until human fills food dish missing until dinner time spread kitty litter all over house thinking longingly about tuna brine.
							</p>
							<p>
								Click the links above to learn more.
							</p>
							<p>
								Why don't you <a href="gallery.html">check out our gallery</a> with our two favourite cats Miu Miu and Luna
							</p>
							<p>
								When your ready feel free to <a href="contact_us.html">get in contact with us</a> or go ahead and <a href="booking.html">make a booking.</a>
							</p>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					<div class="card">
						<div class="card-in">
							<h5>
								YOUR ONE STOP MENTAL CAT SHOP
							</h5>
							<p>
								Walk on car leaving trail of paw prints on hood and windshield chase red laser dot claws in your leg spread kitty litter all over house. Slap owner's face at 5am until human fills food dish missing until dinner time spread kitty litter all over house thinking longingly about tuna brine.
							</p>
							<p>
								Click the links above to learn more.
							</p>
							<p>
								Walk on car leaving trail of paw prints on hood and windshield chase red laser dot claws in your leg spread kitty litter all over house. Slap owner's face at 5am until human fills food dish missing until dinner time spread kitty litter all over house thinking longingly about tuna brine.
							</p>
							<p>
								When your ready feel free to <a href="contact_us.html">get in contact with us</a> or go ahead and <a href="booking.html">make a booking.</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<img class="person" src="{{ url_for('static', filename='images/about/jackson_supernova.jpg') }}" alt="Jackson Supernova"/>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
	</div>
</body>
</html>